{
  "type": "mysql",
  "host": "localhost",
  "port": 3306,
  "username": "root",
  "password": "root",
  "database": "test",
  "entities": ["src/**/schemas/**.entity{.ts,.js}"],
  "synchronize": true,
  "logging": false
}
