{
  "appConfig": {
    "port": 8090
  },
  "dbConfig": {
    "host": "mongodb://mongodb:27017/cats"
  },
  "dbConfigTest": {
    "host": "mongodb://mongodb:27017/cats"
  },
  "expireTime": {
    "time": 60000000000
  },
  "jwtConf": {
    "secret": "cats"
  },
  "mysqlConifg": {
    dialect: 'mysql',
    host: 'localhost',
    port: 3306,
    username: 'example',
    password: 'example',
    database: 'example',
  }
}
